# Ignore logs and debug files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore generated or build output
node_modules/
dist/
dist-ssr/
*.local

# Ignore editor-specific directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# Ignore system-specific files
.DS_Store

# Ignore Visual Studio specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore swap files
*.sw?

# Ignore environment files
.env

# Ignore package lock files
package-lock.json

# Add your project-specific ignores below this line
